:root{
  --font-size:calc(1em + 1vw);
  --font-size-card: calc(0.8em + 1.00vw);
  --font-size-quadro:calc(0.6em + 0.9vw);
  --font-family: poppis, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ;
}
a{
  text-decoration: none;
}

*{
  margin: 0;
  pad: 0;
  box-sizing: border-box;
 
}
body{
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: black;
  color: white
}
h1,h2{
  margin: 20px;
  color: #AA4A0D;
  font-weight: 700;
  font-size: var(--font-size);
}
h3,h4,h5{
  font-size: var(--font-size-card);
}
p{
  font-size: var(--font-size-quadro);
}
.custom-header{
  display: flex;
  width: auto;
  height:80px ;
}
.custom-header img{
  width: 140px;
  max-width: 100%;
}
.container{
  max-width: 800px;
  pad: 20px;
  margin-bottom: 50px;
}