.card{
  height: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: black;
  border: 1px solid white;
  color: rgb(228, 213, 198);
}
.info{
  width: 100%;
}
.duracao-btn{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.card img{
  height: 100%;
  width: 20%;
}