.custom-opacity{
  opacity:0.5
}
.cards{
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  gap: 20px;
}
.card{
  height: 100%;
  width: 100%;
}
@media (max-width:600px){
  .container{
    max-width: 96%;
  }
  .cards{
    display: flex;
    overflow: scroll;
  }
  .cards>div{
    flex: 1 0 auto
  }
}